.disclaimer {
  border-top: #bdbdbd solid 1px;
  justify-content: center;
}

.disclaimer p {
  margin: 0;
  margin-bottom: 1em;
  padding: 38px;
  text-align: center;
  font-size: 0.75rem;
  line-height: 18px;
  /* 19.5px*/
  font-weight: 300;
  font-family: "Libre Franklin";
  color: #bdbdbd;
  max-width: 790px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 0 20px;
}

.footer nav {
  padding: 68px 48px 37px;
  flex-direction: column;
}

.footer-title {
  justify-content: space-between;
  font-size: 21.3px;
  line-height: 21.3px;
}

.footer-title i {
  line-height: 21.3px;
}

.footer-column {
  margin-bottom: 30px;
  width: 100%;
}

.footer-column ul {
  display: none;
  color: inherit;
}

.footer-icons {
  width: 100%;
}

.footer-icons ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.footer-icons ul li {
  padding: 25px 5px 0 0;
}

.footer-column ul li a {
  color: white;
  font-size: 16px;
  line-height: 29.25px;
}

.footer-icons img {
  height: 18px;
}

.footer-legal {
  flex-direction: column;
  border-top: #bdbdbd solid 1px;
  padding: 40px 0;
  text-align: center;
  font-family: "Libre Franklin";
  color: #bdbdbd;
}

.copyright {
  margin: 0;
  font-family: "Libre Franklin";
  font-size: 12px;
  line-height: 19.5px;
}

.back-to-top {
  margin: 0;
  padding-top: 40px;
  justify-content: center;
  font-size: 20px;
  line-height: 32.5px;
  gap: 1rem;
  cursor: pointer;
}

.icon-arrow {
  margin-bottom: 4px;
  font-size: 28px;
}

@media (width >=768px) {
  .disclaimer p {
    font-size: 13.5px;
    line-height: 25.38px;
  }

  .footer {
    padding: 0 30px;
  }

  .footer-icons ul {
    justify-content: flex-start;
    gap: 50px;
    margin-left: 5px;
  }
}

@media (width >=992px) {
  .footer {
    padding: 0 40px;
  }

  .footer nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 88px 0 0;
    gap: 2.5px;
  }

  .footer-column {
    flex-direction: column;
    align-items: start;
    width: auto;
  }

  .footer-title {
    font-size: 23.4px;
    line-height: 23.4px;
  }

  .footer-column i {
    display: none;
  }

  .footer-column ul {
    display: block;
    margin: 0 0 18px;
    padding: 18px 0 0;
  }

  .footer-column ul li {
    padding: 2.5px 0;
    font-family: "Libre Franklin";
    text-wrap: nowrap;
  }

  .footer-column ul li a:hover {
    color: var(--color-primary);
  }

  .footer-legal {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    font-size: 13.5px;
    line-height: 22px;
  }

  .back-to-top {
    padding: 0;
  }

  .footer-icons {
    width: auto;
  }

  .footer-icons ul {
    gap: 28px;
    margin: 0;
  }

  .footer-icons ul li a {
    line-height: 25px;
  }

  .footer-icons ul li a img {
    height: 25px;
  }

  .fb {
    width: 25px;
  }

  .ig {
    width: 25px;
  }

  .yt {
    width: 36px;
  }

  @media(width >=1650px) {
    .footer nav {
      margin: 0 auto;
      max-width: 1580px;
    }

    .footer-legal {
      margin: 0 auto;
      max-width: 1580px;
    }
  }
}