:root {
  --color-primary: #ff6600;
}

html,
body {
  /* background-color: #A0A0A0; */
  margin: 0;
}

.content-container {
  padding-left: 10px;
}

.ktm-text {
  font-family: "BlenderPro-Bold";
}

.flex {
  display: flex;
  align-items: center;
}

.list-decoration {
  list-style: none;
}

.cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.orange {
  color: var(--color-primary);
}

/* .font-test {
  font-family: "BlenderPro-Bold";
  font-size: 100px;
}

.font-test-two {
  font-family: "Libre Franklin";
  font-size: 16px;
  color: #202020;
  font-weight: 400;
  line-height: 26px;
} */

/* 36rem */
@media (width >=576px) {}

/* 48rem */
@media (width >=768px) {}

/* 62rem */
/* Black menu bar */
@media (width >=992px) {}

/* 80rem */
@media (width >=1280px) {}