header {
  flex-direction: row;
  justify-content: space-between;
  height: 47px;
}

header nav a {
  color: #FFFFFF;
  font-size: 20px;
}

header .icon {
  text-decoration: none;
  color: var(--color-primary)
}

header .brand {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-primary);
  width: 115px;
  height: 127.7px;
}

header .brand img {
  max-width: 100%;
}

.navbar {
  display: none;
  gap: 2rem;
}

.header-icons {
  display: none;
}