header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  font-family: "BlenderPro-Bold";
  text-decoration: none;
  color: #FFFFFF;
}

header .menu-right {
  display: flex;
  align-items: center;
}

header .icon {
  text-decoration: none;
  color: var(--color-primary)
}

header .brand {
  background-color: var(--color-primary);
  width: 115px;
  height: 127.7px;
}