main {
  /* asdf */
}

.content {
  padding: 0 10px;
  max-width: 1650px;
  margin: 0 auto;
}

.main-article {
  background-image: url('../media/images/2025-australia-adventure-rallye.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bullet {
  all: unset;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 2px;
  border: none;
}

.bullet-bar {
  min-height: 3px;
  min-width: 40px;
  border-radius: 5px;
  background-color: white;
}

.active {
  background-color: var(--color-primary);
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-top: solid 2px;
  border-color: var(--color-primary);
  margin-bottom: 40px;
  row-gap: 28px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 30px;
}

.menu-item a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 22px;
}

.menu-item a h6 {
  margin: 0;
}

.menu-item a i {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 42;
  font-size: 42px;
  color: var(--color-primary);
  transition: 0.5s ease;
}

.btn-orange {
  background-color: var(--color-primary);
  color: white;
  border: var(--color-primary) solid 1px;
  padding: 14px 30px;
  transition: 0.2s ease-in-out;
  width: fit-content;
}

.btn-orange a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
}

.btn-orange:hover {
  background-color: #00000000;
  color: var(--color-primary);
}

.btn-signup {
  background-color: #00000000;
  color: var(--color-primary);
  border: var(--color-primary) solid 1px;
  padding: 14px 30px;
  gap: 28px;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.btn-signup a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.btn-signup i {
  display: none;
}

.btn-signup:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn-signup:hover i {
  display: block;
}

.container-recently-launched {
  margin: 0 0 40px;
  padding: 0 10px 78px;
  flex-direction: column;
  gap: 50px;
}

.recently-launched-card {
  padding: 13px 13px 57px 13px;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
}

.section-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 31.8px;
  margin: 0 0 40px;
}

.recently-launched-card .btn-orange {
  width: 100%;
  justify-content: center;
  margin-top: 16px;
}

.model-info {
  padding-top: 41px;
}

.section-title h2 {
  margin: 0 0 7.5px 0;
}

.recently-launched-card img {
  width: 100%;
  margin: 0 0 10px 0;
}

.recently-launched-card h3 {
  color: black;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 10px 0;
}

.recently-launched-card h4 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.discover-more-container {
  flex-direction: column;
}

.discover-more-card {
  margin: 0 10px 40px;
  flex-direction: column;
  justify-content: center;
}

.discover-more-card-image {
  width: 100%;
}

.discover-more-card-text {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.discover-more-card .subheading {
  width: 100%;
  margin: 30px 0 4.5px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.discover-more-card .heading {
  margin: 0 0 5px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.large-card {
  flex-direction: column;
  margin: 0 10px 40px;
  justify-content: center;
}

.large-card-content {
  width: 100%;
  flex-direction: column;
}

.large-card-text {
  width: 100%;
}

/* Duplicates, remove if not needed later.
 * If so, then rename and apply corresponding classes in .discover-more-card
 */
.large-card .subheading {
  width: 100%;
  margin: 30px 0 4.5px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.large-card .heading {
  margin: 0 0 5px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.power-card {
  flex-direction: column;
  margin: 0 10px 40px;
}

.power-text {
  justify-content: center;
  align-items: end;
  height: 69.5px;
}

/* Duplicates, remove if not needed later.
 * If so, then rename and apply corresponding classes in .discover-more-card
 */
.power-card .subheading {
  width: 100%;
  margin: 30px 0 4.5px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.power-card .heading {
  margin: 0 0 5px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.news-articles {
  margin: 0 10px;
}

.read-more {
  justify-content: center;
  margin: 0 10px 40px;
}

.newsletter {
  flex-direction: column;
  margin: 0 10px 40px;
}

.newsletter p {
  margin: 0;
  font-size: 1.125em;
  line-height: 29.25px;
}

@media (width >=440px) {
  .discover-more-card-image {
    aspect-ratio: 4 / 3;
    width: 100%;
    overflow: hidden;
  }

  .discover-more-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (width >=577px) {
  .discover-more-card {
    position: relative;
  }

  .discover-more-card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    color: white;
  }

  .discover-more-card .subheading {
    font-size: 24px;
    line-height: 26px;
  }

  .discover-more-card .heading {
    font-size: 85px;
    line-height: 85px;
  }

  .large-card {
    position: relative;
  }

  .large-card-content {
    position: absolute;
    padding: 0 80px;
    align-items: end;
  }

  .large-card-text {
    color: white;
    width: auto;
  }

  .large-card-text .subheading {
    text-align: end;
    margin-top: 0;
    line-height: 10px;
  }

  .large-card-text .heading {
    text-align: end;
    font-size: 60px;
    line-height: 60px;
  }

  .large-card-content .btn-orange {
    margin-top: 0;
  }
}

@media (width >=740px) {
  .discover-more-card-image {
    aspect-ratio: 7 / 4;
  }
}

/*
  TABLET BREAKPOINT
*/
@media (width >=768px) {
  .content {
    padding: 0 20px;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .section-title h2 {
    font-size: 70px;
    margin-bottom: 17.5px;
  }

  .menu {
    margin-bottom: 60px;
    padding-left: 40px;
  }

  .discover-more-card-text {
    position: unset;
    bottom: unset;
    left: unset;
    z-index: unset;
    height: auto;
    color: black;
  }

  .discover-more-card .subheading {
    font-size: 18px;
    line-height: 22px;
  }

  .discover-more-card .heading {
    font-size: 30px;
    line-height: 30px;
  }
}

/*
  DESKTOP BREAKPOINT
*/
@media (width >=992px) {
  .content {
    padding: 0 30px;
  }

  .menu {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
    padding-left: 0;
  }

  .menu a i {
    transition: 0.5s ease;
    color: rgb(53, 53, 53);
  }

  .menu-item:hover .icon {
    transition: 0.5s ease;
    color: var(--color-primary)
  }

  .container-recently-launched {
    flex-direction: row;
    margin: 0 10px 60px;
    padding: 0 0 78px;
    align-items: stretch;
    gap: 118px;
  }

  .recently-launched-card {
    flex: 1;
  }

  .recently-launched-card .model-info {
    flex-grow: 1;
  }

  .recently-launched-card:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  .discover-more-container {
    flex-direction: row;
  }

  .discover-more-card {
    margin: 0 10px 60px;
  }

  .discover-more-card-image {
    aspect-ratio: 1/1;
  }

  .shift-image-20 img {
    object-position: 20% center;
  }
}