main {
  /* asdf */
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-top: solid 2px;
  border-color: var(--color-primary);
}

.menu-item a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.menu-item a i {
  color: var(--color-primary);
}

@media (width >=992px) {
  .menu {
    flex-direction: row;
    justify-content: center;
  }
}