.main-article {
  background-image: url('../media/images/2025-australia-adventure-rallye.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 80px;
}

.main-article-content {
  flex-direction: column;
}

.main-article-text {
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 0 40px;
}

.main-article-text .headline-pre {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 4.5px;
}

.main-article-text .headline-main {
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 10px;
}

.main-article .btn-orange {
  margin: 0 0 47px;
}

.bullets {
  margin: 0 0;
}

.bullet {
  all: unset;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 2px;
  border: none;
}

.bullet-bar {
  min-height: 3px;
  min-width: 40px;
  border-radius: 5px;
  background-color: white;
}

.active {
  background-color: var(--color-primary);
}

@media (width >=768px) {
  .main-article {
    padding-bottom: 40px;
  }

  .main-article-text .headline-pre {
    font-size: 23.5px;
    line-height: 23.5px;
  }

  .main-article-text .headline-main {
    font-size: 85px;
    line-height: 85px;
    margin: 0 0 21.25px;
  }

  .main-article .btn-orange {
    padding: 22px 50px;
    margin: 0 0 87px;
  }

  .main-article .btn-orange a {
    font-size: 20px;
  }
}

@media (width >=992px) {
  .main-article {
    justify-content: center;
  }

  .main-article-content {
    flex: 1;
    justify-content: center;
  }

  .main-article-content .btn-orange {
    margin-bottom: 0;
  }
}