.news-article-container {
  flex-direction: column;
  gap: 72px;
  margin: 0 10px 60px;
}

.news-article-container time {
  display: block;
  line-height: 22.75px;
  font-size: 14px;
  margin-top: 19.6px;
  margin-bottom: 7px;
}

.news-article-container a h2 {
  margin: 0 0 22.5px;
  font-size: 20px;
  line-height: 21.2px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.news-article-container a h2:hover {
  color: var(--color-primary);
}

.news-article-container p {
  font-family: "Libre Franklin";
  margin: 0;
  line-height: 26px;
  font-size: 16px;
}

.read-more {
  justify-content: center;
  margin: 0 10px 40px;
}

.text-line-limit-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-line-limit-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width >=768px) {
  .read-more {
    margin-bottom: 60px;
  }

  .read-more .btn-orange {
    padding: 22px 50px;
  }

  .read-more .btn-orange a {
    font-size: 20px;
  }
  
  .news-article-container time {
    font-size: 15.75px;
    line-height: 29.61px;
    margin-top: 22.05px;
    margin-bottom: 7.875px;
  }

  .news-article-container a h2 {
    font-size: 22.5px;
    line-height: 22.5px;
    margin-bottom: 25.3125px;
  }

  .news-article-container p {
    font-size: 18px;
    line-height: 33.84px;
  }
}

@media (width >=992px) {
  .news-article-container {
    gap: 54px;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 80px;
  }

  .news-article-container article {
    flex: 1;
  }

  
  .news-article-container time {
    font-size: 18px;
    line-height: 33.84px;
    margin-top: 18px;
    margin-bottom: 9px;
  }
  
  .news-article-container a h2 {
    font-size: 36px;
    line-height: 36px;
  }
}